
.about-page {
    padding: 40px 20px;
    font-family: Arial, sans-serif;
    color: #111;
    max-width: 900px;
    text-align: justify;
    margin: auto;
  }
 
 
  
  
  .main-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #5c2d91;
    margin-bottom: 30px;
  }
  
  .sub-title {
    color: #5c2d91;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .about-content p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .offer-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }
  
  .offer-subtext {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .offers-list {
    list-style-type: disc;
    padding-left: 20px;
  }
  